  #input {
      padding: 10px 10px;
      width: 40%;
  }

  .mybox {
      max-width: 50%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      margin: 10% auto;
      gap: 20px;
      padding: 30px 30px;
      border-radius: 20px;
  }

  .active {
      background-image: linear-gradient(rgb(92, 26, 75), rgb(233, 233, 148));
      color: rgb(54, 24, 47);
  }

  .buttons {
      border-radius: 5px;
      border: 1px solid rgb(119, 24, 68);
      background-image: linear-gradient(rgb(168, 132, 132), rgb(233, 233, 200));
      width: 10%;
      padding: 10px;
  }

  input {
      background-image: linear-gradient(rgb(168, 132, 132), rgb(233, 233, 200));
      padding: 10px 10px;
      border-radius: 5px;
      outline: none;
      border: 1px solid rgb(119, 24, 68);
  }